.aside-menu {
  color: $title-color;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
}
.aside-menu-border-right {
  border-right: 1px solid #DCDFE6;
}
.aside-menu-border-left {
  border-left: 1px solid #DCDFE6;
}