@import './global/color.scss';

.aside-Menu-group {
  color: inherit;
  padding: 10px 0;
  .aside-Menu-group-header {
    height: 48px;
    line-height: 48px;
    padding: 0 40px;
    .line {
      border: 2px solid rgba($color: $ui, $alpha: 1);
      margin-right: 6px;
    }
  }
}
