@import './global/color.scss';

.magic-input {
  position: relative;
  top: 0;
  left: 0;
  .magic-input-inner {
    &:focus {
      border-color: $primary;
      box-shadow: 0 0 0 2px rgba($color: $primary, $alpha: 0.3);
    }
    &:hover { 
      border-color: rgba($color: $primary, $alpha: 1);
      box-shadow: 0 0 0 2px rgba($color: $primary, $alpha: 0.3);
    }
    cursor: pointer;
    display: inline-block;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid  $border-color;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 34px;
    line-height: 34px;
    outline: none;
    padding: 0 10px;
    transition: all .5s cubic-bezier(.645,.045,.355,1);
    width: 100%;
  }
  .input-is-disabled {
    &:hover { 
      border-color: rgba($color: #e4e7ed, $alpha: 1);
    }
    background-color: #f5f7fa;
    border-color: $border-color;
    color: #c0c4cc;
    cursor: not-allowed;
  }
  .input-is-clearable {
    padding: 0 34px 0 15px;
  }
  .disabled-clearable-icon {
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    color: #606266;
    top: 4px;
    right: 10px;
  }
  .input-left-icon {
    padding: 0 15px 0 34px;
  }
  .input-right-icon {
    padding: 0 34px 0 15px;
  }
  .left-icon {
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    color: #606266;
    top: 4px;
    left: 8px;
  }
  .right-icon {
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    color: #606266;
    top: 4px;
    right: 8px;
  }
  .min-max-number {
    cursor: pointer;
    position: absolute;
    font-size: 14px;
    color: #606266;
    top: 7px;
    right: 10px;
  }
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
}