@import './global/color.scss';

.magic-message {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  .magic-message-container {
    text-align: left;
    border-radius: 2px;
    margin: 0 auto;
    min-width: 200px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    border: 1px solid $border-color;
    background-color: #fff;
    position: relative;
    pointer-events: auto;
    .magic-message-icon {
      /*font-size: 16px;*/
      padding-right: 10px;
    }
    .magic-message-text {

    }
    .magic-message-close {
      cursor: pointer;
      position: absolute;
      font-size: 18px;
      top: 0;
      right: 6px;
    }
  }
  .magic-message-closeShow {
    padding-right: 30px;
  }
  .icon-type-info {
    color: $primary;
  }
  .icon-type-success {
    color: $success;
  }
  .icon-type-warning {
    color: $warning;
  }
  .icon-type-error {
    color: $error;
  }
}
.magic-message-enter-active, .magic-message-leave-active {
  transition: all .5s;
  transform: translateY(0);
}
.magic-message-enter, .magic-message-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-100%);
}
