.magic-switch {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  position: relative;
  .magic-switch-input {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .magic-switch-core {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    vertical-align: middle;
    outline: none;
    border-radius: 3px;
    box-sizing: border-box;
    background: #dcdfe6;
    transition: all .3s;
    .magic-switch-button {
      border: none;
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 3px;
      transition: all .3s;
      width: 18px;
      height: 18px;
      background-color: #fff;
    }
    .inactive-icon {
      color: #ffffff;
      float: left;
      font-size: 20px;
    }
    .active-icon {
      float: right;
      font-size: 20px;
    }
    .isActive {
      left: 100%;
      margin-left: -19px;
      animation: magic-switch 0.5s;
    }
    .inactive-icon, .active-icon {
      animation: switch-icon 0.5s;
    }
    @keyframes switch-icon {
      0% {
        transform: scale(0.1, 0.1);
      }
      100% {
        transform: scale(1, 1);
      }
    }
  }
  .inactiveText {
    vertical-align: middle;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-right: 10px;
  }
  .activeText {
    vertical-align: middle;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
  }
  .magic-switch-is-disabled {
    cursor: not-allowed;
  }
}