.magic-table {
  border-collapse: collapse; // 设置表格边框的间距问题
  transition: all 0.5s;
  .table-magic-tr {
    transition: all 0.5s;
    &:hover {
      background-color: #f3f3f3;
    }
  }
}
.magic-table-border {
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
}