* {
  box-sizing: border-box;
}
body, html {
  font-size: 14px;
  color: $main-color; 
}
button, input {
  outline: none;
}
.magic-aside-submenu [class^='m-icon-'] {
  margin-right: 5px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}