$ui: #ff9900dc;

// 主要颜色
$primary: #2db7f5;
$primary-dark: #008cff;
// 成功颜色
$success: #19be6b;
$success-dark: #00a050;
// 警告颜色 ↓
$warning: #ff9900;
$warning-dark: #ff7b00;
// 错误颜色 ↓
$error: #ed4014;
$error-dark: #ff0000;

// 标题颜色 ↓
$title-color: #17233d;
// 内容颜色 ↓
$content-color: #515a6e;
// 图标颜色 ↓
$sub-color: #808695;
// 边框颜色 ↓
$border-color: #dcdee2;
// 分割线颜色 ↓
$divider-color: #e8eaec;
// 背景颜色 ↓
$background-color: #f8f8f9;

$font-light: #fff;
$font-dark: #657180;